*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 18px;

}
a{
    text-decoration: none;
    color: white;
}
span{
    margin: 20px;
}
.image{
    width: 16px;
    margin-left: 5px;

    
}
.Applelogo{
    background-color: black;
    text-align: center;
    width: 100%;

}
#applelogo{
    width: 20%;
   
    /* margin-top: 31px; */
    text-align: center;
   
}
.wvdc{
    color: white;
    font-size: 47px;
    text-align: center;
    /* margin-left: 230px; */
    /* margin-top: 50px; */
    
}
#wvdc{
    width: 45px;
    text-align: center;
    margin-top: 10px;
}
.subhead{
    text-align: center;
    color: white;
    margin-top: 10px;
}
button{
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    margin-right: 16px;
    border-radius: 20px;
    border:2px solid blue;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section2{
    text-align:center;
    font-size:60px;
    background-color:black;
    color:white;
    margin-top:10px;

}
.one{
    text-align:center;
    font-size:30px;
    background-color:black;
    color:white;
}
.buy{
    background-color:black;
    color:white;
    border:1px solid blue;
    width:60px;
}
#img{
    width: 80vw;
    margin-left: 3em;
}
.section3{
    text-align:center;
    font-size:60px;
    background-color:black;
    color:white;
    margin-top:10px;
}
.two{
    text-align:center;
    font-size:30px;
    background-color:black;
    color:white;
    margin-top: 1em;
}
#img2{
    width: 75%;
    margin-top: 2em;
}
.subhead-3{
    padding: 20px;
    position: absolute;
    text-align:center;
    margin-left: 7em;
}
.section3 p{
    margin-bottom: 10px;
}
.sub{
    margin-top: 10px;
}
.imagecontainer,.imagecontainer1{
    position: relative;
    /* display: inline; */
    display: flex;

}
.imagecontainer img{
    /* position:fixed; */
    width: 50vw;
    text-align: left;
    padding-right: 5px;

}
.text{
    position:absolute;
    color: white;
    font-size: 40px;
    margin-left: 16rem;
    top: 328px;
}
.section4{
    width: 100vw;
    display: flex;
    margin: 10px;
}
.imagecontainer-2img img{
    width: 50vw;
    position: absolute;
    padding-left: 5px;
    /* position: fixed; */
    display: flex;
    
}
.text1{
    position: absolute;
    color: white;
    font-size: 20px;
    margin-left: 18rem;
    top: 19em;
}
.but-stuu{
    position: absolute;
    color: white;
    font-size: 20px;
    margin-left: 20rem;
    top: 20em;
}

.text2{
    position: relative;
    color: white;
    font-size: 45px;
    margin-left: 18rem;
    left: 1em;
}
.text2-apple{
    position: relative;
    color: white;
    font-size: 45px;
    margin-left:9rem;
    left: 1em;
}
.imagecontainer-2img button{
    position: relative;
    color: white;
    font-size: 20px;
    /* margin-left: 10rem; */
    /* top: 20em; */
}
.text3{
        position: relative;
        color: white;
        font-size: 20px;
        /* margin-left: 18rem; */
        /* bottom: 20em; */
        left: 14em;
} 
.text3-apple{
    position: relative;
    color: white;
    font-size: 20px;
    /* margin-left: 18rem; */
    /* bottom: 20em; */
    left: 7em;
} 
.but{
    margin-left: 17em;
}
.text4{
    position:absolute;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 18rem;
    top: 328px;
}
.text5{
    position: absolute;
    color:black;
    font-size: 20px;
    margin-left: 14rem;
    top: 19em;
    
}

.but2{
    text-align: center;
    margin-left: 15em;
    
}
.learn{
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    /* margin-right: 16px; */
    border-radius: 20px;
    border:2px solid blue;
    margin-top: 10px;
    margin-bottom: 10px;
}
.learn-buy{
    margin-left: 30px;
}
.section4{
    width: 100vw;
    display: flex;
    margin: 10px;
}
.img2-container{
    display: flex;
    overflow: auto;
    
}
.img3-container{
    display:flex;
    overflow: auto;
}
.footer-section{
    font-size: 10px;
    text-align: justify;
    line-height: 13px;
    margin: auto;
}
.vision,.vision1{
    margin: 20px;
    /* display: flex; */
    position: absolute;
    margin-left: 30px;
    margin-top: 25em;
}
.learn{
    /* right: 30px; */
    margin-bottom: 20px;
    margin-left: 230px;
}
.image1{
    width: 10vw;
    height: 10px;
}
#blackapple{
    width: 50px;
    height: 50px;

}
.blackapple{
    position: absolute;
    margin-left: 18em;
    /* margin-left: ; */
    bottom:  26em;
}
.card1{
    position:absolute;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 21rem;
    top: 25 px;
}
.card2{
    position: absolute;
    color:black;
    font-size: 20px;
    margin-left: 14rem;
    top: 3em;
    
}
.vision1{
    bottom: 18em;
    margin-left: 18em;
}
.text2-apple-1{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 45px;
    margin-left:17rem;
    margin-top: 1em;
}
.text3-apple-2{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-left:4rem;
    /* left: 1em; */
    margin-top: 5em;
}
.btn{
    text-align: center;
    margin-left: 18em;
    margin-top: 10em;
}
.store-list{
    text-align: left;
    margin-left: 19em;
    list-style: none;
}
.store-list-container{
    display: flex;
    margin-top: 15px;
}
.store-list1{
    list-style: none;
    margin-left: 5em;
}
.store-list2{
    list-style: none;
    margin-left: 5em;
}
.hiden-store-section1{
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: height 0.9s ease-in,opacity 0.9s ease-in-out;
    ;
}
.store:hover ~ .hidden-store-section1{
    height: 20em;
    opacity: 1;
}
.hidden-mac-section1{
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: height 0.9s ease-in,opacity 0.9s ease-in-out;
}
.mac:hover ~ .hidden-mac-section1{
    height: 20em;
    opacity: 1;
}
.mac-list{
    text-align: left;
    margin-left: 19em;
    list-style: none;
}
.mac-list-container{
    display: flex;
    margin-top: 15px;
}
.mac-list1{
    list-style: none;
    margin-left: 5em;
    text-align: left;
}
.mac-list2{
    list-style: none;
    margin-left: 5em;
    text-align: left;
}
.ipad-list1{
    list-style: none;
    margin-left: 5em;
    text-align: left;
}
.ipad-list2{
    list-style: none;
    margin-left: 5em;
    text-align: left;
}
.ipad-list{
    text-align: left;
    margin-left: 19em;
    list-style: none;
}
.ipad-list-container{
    display: flex;
    margin-top: 15px;
}.hidden-ipad-section1{
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: height 0.9s ease-in,opacity 0.9s ease-in-out;
}
.ipad:hover ~ .hidden-ipad-section1{
    height: 20em;
    opacity: 1;
}
.iphone-list1{
    list-style: none;
    margin-left: 5em;
    text-align: left;
}
.iphone-list2{
    list-style: none;
    margin-left: 5em;
    text-align: left;
}
.iphone-list{
    text-align: left;
    margin-left: 19em;
    list-style: none;
}
.iphone-list-container{
    display: flex;
    margin-top: 15px;
}.hidden-iphone-section1{
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: height 0.9s ease-in,opacity 0.9s ease-in-out;
}
.iphone:hover ~ .hidden-iphone-section1{
    height: 20em;
    opacity: 1;
}
.footer-text{
    font-size: 10px;
    text-align: justify;
    width: 50%;
    margin-left: 368px;
    color: rgb(31, 31, 31);
    line-height: 13px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(34, 34, 36) ; 
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
    opacity: 0.5;
    margin-top: 5em;
}

.ul{
    /* position: absolute; */
    /* position: fixed; */
    display: flex;
    font-size: 10px;
    text-align: justify;
    width: 50%;
    margin-left: 368px;
    color: rgb(34, 34, 34);
    /* line-height: 13px; */
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid rgb(68,68,69) ;  */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
    opacity: 0.5;
    /* padding: 10px */
    line-height: 10px;
}
ul.no-bullets {
    /* display: flex; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* padding: 10px; */
    margin: 20px;
    line-height: 25px;
}
#list{
    margin-left: 0px;
    color: #000000;
    margin-bottom: 20px;
}